{% load static %}
<html>
    <head>
        <title>Detail Film | APLIKASI DAFTAR FILM BIOSKOP</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" name="viewport">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'movies/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'movies/dist/css/AdminLTE.min.css' %}">
        <link rel="stylesheet" href="{% static 'movies/dist/css/skins/_all-skins.min.css' %}">
        <script src="{% static 'movies/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'movies/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
        <script src="{% static 'movies/dist/js/app.min.js' %}"></script>
        <script src="{% static 'movies/dist/js/demo.js' %}"></script>
		<style>
			.bek {
				  background-image: url("{% static 'movies/dist/img/marvel.jpg' %}");
				  height: 100%; 
				  background-position: center;
				  background-repeat: no-repeat;
				  background-size: cover;
			}
		</style>
<body class="skin-purple-light layout-top-nav">
<table width="100%" style="border-bottom:1px solid #9966cc; background-color:black;">
<tr>
	<td style="text-align:left; padding:10px;" width="90%" class="back-img">
		<h4 style="text-align:center; font-size:18px; color:white;"><b>APLIKASI DAFTAR FILM BIOSKOP<br>
		</b></h4>
	</td>
</tr>
</table>
<div class="bek"> 
	<div class="wrapper" style="background-color: rgba(247, 247, 247, 0.7);"> 
		<div class="content-wrapper" style="background-color: rgba(247, 247, 247, 0.7);">
			<div class="container">
				<div class="row">
						<section class="content-header">
							<div class="col-md-12">
							<h1>
							  <br>
							</h1>
							<ol class="breadcrumb" style="background-color: rgba(247, 247, 247, 0.9);">
							  <li><a href="{% url 'movies_index' %}"><i class="fa fa-dashboard"></i>Daftar Film</a></li>
							  <li class="active">Detail Film</li>
							</ol>
							</div>
						</section>
						<section class="content">
							<div class="col-md-12">
								<div class="box"  style="background-color: rgba(247, 247, 247, 0.9);">
									<form id="edit_form" method="POST" action="{% url 'movies_edit' movie.id %}">
										{% csrf_token %}
										<div class="box-body">
											<table class="table table-bordered table-striped display responsive nowrap" cellspacing="0" width="100%">
												<tr>
													<th>Judul</th>
													<td width="2%">:</td>
													<td width="80%">{{ movie.title }}</td>
												</tr>
												<tr>
													<th>Sinopsis</th>
													<td width="2%">:</td>
													<td width="80%">{{ movie.synopsis }}</td>
												</tr>
												<tr>
													<th>Aktor</th>
													<td width="2%">:</td>
													<td width="80%">{{ movie.actors }}</td>
												</tr>
												<tr>
													<th>Genre</th>
													<td width="2%">:</td>
													<td width="80%">{{ movie.genre }}</td>
												</tr>
												<tr>
													<th>Durasi</th>
													<td width="2%">:</td>
													<td width="80%">{{ movie.duration }} Menit</td>
												</tr>
												<tr>
													<th>Rating</th>
													<td width="2%">:</td>
													<td width="80%">{{ movie.rate }} / 10</td>
												</tr>
											</table>
											<br>
											<a class="btn btn-primary" href="{% url 'movies_index' %}">Kembali</a>
										</div>
										</div>
									</form>
								</div>
							</div>
					 </section>	
				</div>
			</div>
		</div>
		<footer class="main-footer" style="text-align:center;">
			<strong>Copyright &copy; 2020
		</footer>
	</div>
</div>
</body>
</html>